<section class="wrapper">
        <section class="wrapper-emp-detail">
        <div class="row">
            <div class="col-sm-12">
                <div class="clearfix m-b-20 m-t--10 emp-detail-padding">
                    <div class="emp-detail-box-master emp-detail-red">
                        <div class="emp-detail-heading">
                            Master
                            <span class="tools pull-right">
                                <a class="fa fa-chevron-up" href="javascript:;"></a>
                            </span>
                        </div>
                        <div class="emp-detail-body-master">
                            <div class="row">
                                <div class="col-sm-12 block">
                                    <h4 class="master-header-main">Geography</h4>
                                    <div class="col-sm-2">
                                        <a routerLink="/viewcountries" class="photo text-center">
                                            <img src="../../assets/country.png">
                                            <div class="glow-wrap">
                                                <i class="glow"></i>
                                            </div>
                                            <h6 class="master-header-sub">Country</h6>
                                        </a>
                                    </div>
                                    <div class="col-sm-2">
                                        <a routerLink="/viewstates" class="photo text-center">
                                            <img src="../../assets/state-new.png">
                                            <div class="glow-wrap">
                                                <i class="glow"></i>
                                            </div>
                                            <h6 class="master-header-sub">State</h6>
                                        </a>
                                    </div>
                                    <div class="col-sm-2">
                                        <a routerLink="/viewcities" class="photo text-center">
                                            <img src="../../assets/city-new.png">
                                            <div class="glow-wrap">
                                                <i class="glow"></i>
                                            </div>
                                            <h6 class="master-header-sub">City</h6>
                                        </a>
                                    </div>
                                    <div class="col-sm-2">
                                        <a routerLink="/viewpincodes" class="photo text-center">
                                            <img src="../../assets/pin-code-new.png">
                                            <div class="glow-wrap">
                                                <i class="glow"></i>
                                            </div>
                                            <h6 class="master-header-sub">Pincode</h6>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row block">
                                <div class="col-sm-12">
                                    <h4 class="master-header">Education</h4>
                                    <div class="col-sm-2">
                                        <a routerLink="/viewuniversties" class="photo text-center">
                                            <img src="../../assets/university.png">
                                            <div class="glow-wrap">
                                                <i class="glow"></i>
                                            </div>
                                            <h6 class="master-header-sub">University</h6>
                                        </a>
                                    </div>
                                    <div class="col-sm-2">
                                        <a routerLink="/viewinstitution" class="photo text-center">
                                            <img src="../../assets/institute.png">
                                            <div class="glow-wrap">
                                                <i class="glow"></i>
                                            </div>
                                            <h6 class="master-header-sub">Institution</h6>
                                        </a>
                                    </div>
                                    <div class="col-sm-2">
                                        <a routerLink="/viewcourses" class="photo text-center">
                                            <img src="../../assets/education-new.png">
                                            <div class="glow-wrap">
                                                <i class="glow"></i>
                                            </div>
                                            <h6 class="master-header-sub">Education</h6>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row block">
                                <div class="col-sm-12">
                                    <h4 class="master-header">Others</h4>
                                    <div class="col-sm-2">
                                            <a routerLink="/viewbusinessunit" class="photo text-center">
                                                <img src="../../assets/business-unit.png">
                                                <div class="glow-wrap">
                                                    <i class="glow"></i>
                                                </div>
                                                <h6 class="master-header-sub">Business Unit</h6>
                                            </a>
                                        </div>
                                    <div class="col-sm-2">
                                        <a routerLink="/viewdepartment" class="photo text-center">
                                            <img src="../../assets/department.png">
                                            <div class="glow-wrap">
                                                <i class="glow"></i>
                                            </div>
                                            <h6 class="master-header-sub">Department</h6>
                                        </a>
                                    </div>
                                    <div class="col-sm-2">
                                        <a routerLink="/viewsubdepartment" class="photo text-center">
                                            <img src="../../assets/sub-deparment.png">
                                            <div class="glow-wrap">
                                                <i class="glow"></i>
                                            </div>
                                            <h6 class="master-header-sub">Sub Department</h6>
                                        </a>
                                    </div>
                                    <div class="col-sm-2">
                                        <a routerLink="/viewfunction" class="photo text-center">
                                            <img src="../../assets/function.png">
                                            <div class="glow-wrap">
                                                <i class="glow"></i>
                                            </div>
                                            <h6 class="master-header-sub">Funcion</h6>
                                        </a>
                                    </div>
                                    <div class="col-sm-2">
                                        <a routerLink="/viewsubfunction"class="photo text-center">
                                            <img src="../../assets/sub-function.png">
                                            <div class="glow-wrap">
                                                <i class="glow"></i>
                                            </div>
                                            <h6 class="master-header-sub">Sub Funcion</h6>
                                        </a>
                                    </div>
                                    <div class="col-sm-2">
                                        <a routerLink="viewstates" class="photo text-center">
                                            <img src="../../assets/contact.png">
                                            <div class="glow-wrap">
                                                <i class="glow"></i>
                                            </div>
                                            <h6 class="master-header-sub">Contact</h6>
                                        </a>
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row block">
                                <div class="col-sm-12">
                                        <div class="col-sm-2">
                                                <a routerLink="/viewcostcode"class="photo text-center">
                                                    <img src="../../assets/cost-center-new.png">
                                                    <div class="glow-wrap">
                                                        <i class="glow"></i>
                                                    </div>
                                                    <h6 class="master-header-sub">Cost Center</h6>
                                                </a>
                                            </div>
                                    <div class="col-sm-2">
                                        <a routerLink="/viewdocuments" class="photo text-center">
                                            <img src="../../assets/document-new.png">
                                            <div class="glow-wrap">
                                                <i class="glow"></i>
                                            </div>
                                            <h6 class="master-header-sub">Documents</h6>
                                        </a>
                                    </div>
                                    <div class="col-sm-2">
                                        <a routerLink="/viewemployers" class="photo text-center">
                                            <img src="../../assets/employer-new.png">
                                            <div class="glow-wrap">
                                                <i class="glow"></i>
                                            </div>
                                            <h6 class="master-header-sub">Employer</h6>
                                        </a>
                                    </div>
                                    <div class="col-sm-2">
                                        <a routerLink="/viewfunctionaldesignation"class="photo text-center">
                                            <img src="../../assets/function-designation.png">
                                            <div class="glow-wrap">
                                                <i class="glow"></i>
                                            </div>
                                            <h6 class="master-header-sub">Functional Designation</h6>
                                        </a>
                                    </div>
                                    <div class="col-sm-2">
                                        <a routerLink="/viewindustries" class="photo text-center">
                                            <img src="../../assets/industry.png">
                                            <div class="glow-wrap">
                                                <i class="glow"></i>
                                            </div>
                                            <h6 class="master-header-sub">Industry</h6>
                                        </a>
                                    </div>
                                    <div class="col-sm-2">
                                        <a routerLink="/viewintervationday"class="photo text-center">
                                            <img src="../../assets/intervention.png">
                                            <div class="glow-wrap">
                                                <i class="glow"></i>
                                            </div>
                                            <h6 class="master-header-sub">Intervention</h6>
                                        </a>
                                    </div>
                                  
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row block">
                                <div class="col-sm-12">
                                      <div class="col-sm-2">
                                        <a routerLink="/viewjobband" class="photo text-center">
                                            <img src="../../assets/job-band.png">
                                            <div class="glow-wrap">
                                                <i class="glow"></i>
                                            </div>
                                            <h6 class="master-header-sub">Job Band</h6>
                                        </a>
                                    </div>
                                    <!-- <div class="col-sm-2">
                                        <a href="job-band-designation.html" class="photo text-center">
                                            <img src="images/document.png">
                                            <div class="glow-wrap">
                                                <i class="glow"></i>
                                            </div>
                                            <h6 class="master-header-sub">Job Band Designation</h6>
                                        </a>
                                    </div> -->
                                    <!-- <div class="col-sm-2">
                                        <a href="module.html" class="photo text-center">
                                            <img src="images/employer-new.png">
                                            <div class="glow-wrap">
                                                <i class="glow"></i>
                                            </div>
                                            <h6 class="master-header-sub">Module</h6>
                                        </a>
                                    </div> -->
                                    <div class="col-sm-2">
                                        <a routerLink="/vieworganization"class="photo text-center">
                                            <img src="../../assets/organization.png">
                                            <div class="glow-wrap">
                                                <i class="glow"></i>
                                            </div>
                                            <h6 class="master-header-sub">Organization</h6>
                                        </a>
                                    </div>
                                    <div class="col-sm-2">
                                        <a routerLink="viewstates" class="photo text-center">
                                            <img src="../../assets/permission.png">
                                            <div class="glow-wrap">
                                                <i class="glow"></i>
                                            </div>
                                            <h6 class="master-header-sub">Permission</h6>
                                        </a>
                                    </div>
                                    <div class="col-sm-2">
                                        <a routerLink="/viewrole"class="photo text-center">
                                            <img src="../../assets/role.png">
                                            <div class="glow-wrap">
                                                <i class="glow"></i>
                                            </div>
                                            <h6 class="master-header-sub">Role</h6>
                                        </a>
                                    </div>
                                    <div class="col-sm-2">
                                        <a routerLink="/viewstage" class="photo text-center">
                                            <img src="../../assets/stage.png">
                                            <div class="glow-wrap">
                                                <i class="glow"></i>
                                            </div>
                                            <h6 class="master-header-sub">Stage</h6>
                                        </a>
                                    </div>
                                    <div class="col-sm-2">
                                        <a routerLink="/viewstatusreason" class="photo text-center">
                                            <img src="../../assets/status-reason.png">
                                            <div class="glow-wrap">
                                                <i class="glow"></i>
                                            </div>
                                            <h6 class="master-header-sub">Status Reason</h6>
                                        </a>
                                    </div>
                                    <!-- <div class="col-sm-2">
                                        <a routerLink="viewstates"class="photo text-center">
                                            <img src="../../assets/team-member.png">
                                            <div class="glow-wrap">
                                                <i class="glow"></i>
                                            </div>
                                            <h6 class="master-header-sub">Team Member</h6>
                                        </a>
                                    </div> -->
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <!-- <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        <a href="status-reason.html" class="photo text-center">
                                            <img src="images/status-reason.png">
                                            <div class="glow-wrap">
                                                <i class="glow"></i>
                                            </div>
                                            <h6 class="master-header-sub">Status Reason</h6>
                                        </a>
                                    </div>
                                    <div class="col-sm-2">
                                        <a href="team-member.html" class="photo text-center">
                                            <img src="images/team-member.png">
                                            <div class="glow-wrap">
                                                <i class="glow"></i>
                                            </div>
                                            <h6 class="master-header-sub">Team Member</h6>
                                        </a>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>